<div class="question-container">
    <div class="light-text">{{"Frage"}} {{this.questionNumber}}</div>
    <h2>{{@question.headline}}</h2>
    <br/>

    <FormField
        @type = {{@question.question_type}}
        @identifier = {{@question.identifier}}
        @required = {{@question.identifier}}
        @question = {{@question}}
        @next = {{action "next"}}
    />

    {{#if isTextField}}
        <div class="button" {{on "click" this.next}}>Next</div>
    {{/if}}

     {{#if @isLastQuestion}}
        <LinkTo @route='thankyou' @tagName='div' class="button">Submit</LinkTo>
    {{/if}}
</div>