<div class="question-container">
    <div class="light-text">{{"Frage"}} {{questionNumber}}</div>
    <h2>{{@question.headline}}</h2>
    <br/>

    <FormField
        @type = {{@question.question_type}}
        @identifier = {{@question.identifier}}
        @required = {{@question.identifier}}
        @question = {{@question}}
    />

    {{!-- {{#if @index}}
        <div class="button" {{on "click" this.previous}}>Previous</div>
    {{/if}}

    {{#unless @isLastQuestion}}
        <div class="button" {{on "click" this.next}} >Next</div>
    {{/unless}} --}}
</div>